*{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
   }
.applyh1{ /*Title of the page*/
    text-align: center;
    font-size: 40px;
}

.applyMainsection{ /* name of the main div storing all the other divs witht the input boxes and so on*/
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    border-radius: 25px;
}

.applyLabel{ /*All the labels*/
    font-weight: 500;
    
}

.applyBody{ /*The body of the application page*/
    background-color: #edf4ff;
}

.applyInput, .applySelect { /*The Input boxes and the select (drop down menu)*/
    margin-top: 10px;
    background-color: rgb(247, 250, 255);
    border-radius: 7px;
    border: 1px solid rgb(211, 211, 211);
    padding: 8px;
    width: 270px;
}

.applyInfoHeading{ /*The headings of the different information headings (e.g. Student Details, Contact Details, Additional Details)*/
    color: #b9bcc0;
    font-size: larger;
}

.applyMainsection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content;
    grid-template-areas: 
    "Adds Adds img"
    "rtn sub img";
    margin: 4px;
}

#StudentDetails{
    grid-area: StdDts;
}

#ContactDetails{
    grid-area: CntDts;
}

#AdditionalDetails{
    grid-area: Adds;
}

#imageboi{
    grid-area: img;
}
#submit{
    grid-area: sub;
}
#applyBackbtn{
    grid-area: rtn;
}

.navButtons{ /*This is the styling for the buttons on the page */
    height: 45px;
    width: 100px;
    border-radius: 7px;
    background-color: #512da8;
    color: white;
    border-color: rgb(218, 218, 218);
    border-style: none;
    grid-area: RptDts;
}

#applyImage{
    max-width: 100%;
    border-radius: 7px;
}

.navButtons:hover{ /*This is for the hover effect when it changes to green */
    background-color: rgb(153, 255, 0);
    color: black;
}

#Drop-File{
    border-radius: 10px;
    border-style: dashed;
    margin: 10px;
    text-align: center;
    border-color: #b9bcc0;
    margin-left: 0;
    padding: 4%;
    background-color: #f8f8f8;
    width: 300px;
    height: 220px;
}

#applyCloudImg{
    height: 125px;
}

#applySpan{
    font-size: 12px;
    color: #b9bcc0;
}