 .container{
    display: grid;
    grid-template-rows: 80px auto 1fr 50px;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100vh;
    grid-template-areas:
    "header header header"
    "left-side banner right-side"
    "left-side main right-side"
    "left-side low-content right-side"
    "footer footer footer";
    grid-gap: 10px;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
 }
 @media (max-width: 1250px){
   .container {
   grid-template-rows: 50px 50px 50px 1fr
   50px 50px 50px;
   grid-template-columns: 1fr;
   grid-template-areas:
   "header"
   "banner"
   "left-aside"
   "main"
   "right-aside"
   "low-content"
   "footer";
   }
   .header{
    height: fit-content;
   }
   #coursedisc{
    font-size: 12px;
   }
   #coursename{
    font-size: 12px;
   }
   #coursefoto{
    height: 100px;
    width: 100px;
    margin-top: 10vh;
   }
   footer{
    font-size: 12px;
    margin-top: 20px;
   }
   .low-content{
    font-size: 12px;
    height: fit-content;
   }
   }
   *{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
   }
   /*Index style*/
   .header{
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "img head x";
    border-bottom: 1px solid black;
  }
   .logo{
    grid-area: img;
    height:  70px;
    width: 80px;
   }
   .companyname{
    grid-area: head;
    height: 100px;
    text-align: center;
    top: 50vh;
    font-size: 35px;
   }
   .main{
    grid-area: main;
    display: felx;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
   }
   .maintop{
    grid-area: top;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin: 5px;
   }
   #searchbox{
    margin-left: 5px;
    margin-right: 5px;
   }
   .low-content{
    grid-area: low-content;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    height: fit-content;
   }
   .nationalcer,.bit{
    grid-area: course;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 10px;
    height: fit-content;
    margin: 5px;
   }
   #courses *{
    margin: 15px 0;
   }
   #courses{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
   }
   #coursefoto{
    height: 100px;
    width: 100px;
    margin:auto;
   }
   footer{
    grid-area: footer;
    text-align: center;
    margin-top: 20px;
   }
   .off-screen-menu{
    height: fit-content;
    width: 50%;
    max-width: 250px;
    position: fixed;
    right: -250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 3rem;
    transition: .3s ease;
    background-color: grey;
    background: linear-gradient(to left, #eee,#512da8);
    border-bottom: 1px black;
    border-left: 1px black;
    border-top: 1px block;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
   }
   .off-screen-menu.active{
    right: 0;
   }
   .ham{
    grid-area: x;
    padding: 1rem;
    display: flex;
   }
   .ham-menu{
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
   }
   .ham-menu:hover{
    cursor: pointer;
   }
   .ham-menu span{
    height: 5px;
    width: 100%;
    background-color: #512da8;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
    border: 1px solid transparent;
   }
   .ham-menu span:nth-child(1){
    top: 25%;
   }
   .ham-menu span:nth-child(2){
    top: 75%;
   }
   .ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
   }
   .ham-menu.active span:nth-child(2){
    opacity: 0;
   }
   .ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
   }
   ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   }
   li{
    list-style-type: none;
    color: black;
    opacity: 100%;
    font-size: 20px;
    margin: 10px 0;
    margin-right: 80px;
   }
   li:hover{
    text-decoration: underline;
    cursor: pointer;
   }
   #searchbutton{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
   }
   #searchbox{
    background-color: #eee;
    border:none;
    margin: 8px 5px;
    padding: 10px 10px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
   }