 .container{
    display: grid;
    grid-template-rows: 80px auto 1fr 50px;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100vh;
    grid-template-areas:
    "header header header"
    "left-side banner right-side"
    "left-side main right-side"
    "left-side low-content right-side"
    "footer footer footer";
    grid-gap: 10px;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
 }
 @media (max-width: 688px){
   .container {
   grid-template-rows: 50px 50px 50px 1fr
   50px 50px 50px;
   grid-template-columns: 1fr;
   grid-template-areas:
   "header"
   "banner"
   "left-aside"
   "main"
   "right-aside"
   "low-content"
   "footer";
   }
   }

   /*Index style*/
   .header{
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "img head x";
  }
   .logo{
    grid-area: img;
    height:  100px;
   }
   .companyname{
    grid-area: head;
    height: 100px;
    text-align: center;
   }
   .main{
    grid-area: main;
    display: grid;
    grid-template-areas: 
    "top top top";
    grid-template-rows: 100px;
    grid-template-columns: 150px;
   }
   .maintop{
    grid-area: top;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
   }

   #searchbox{
    margin-left: 5px;
    margin-right: 5px;
   }
   .low-content{
    grid-area: low-content;
   }
   footer{
    grid-area: footer;
    text-align: center;
   }